<div class="sidebar">
    @if (_selectedTable == null)
    {
        <div class="d-flex h-100 align-items-center justify-content-center">
            No table selected
        </div>
    }
    else
    {
        <div class="form-group">
            <label for="tableName">Table name</label>
            <input id="tableName" type="text" class="form-control" value="@_selectedTable.Name" @oninput="OnTableNameChanged" />
        </div>
    }
</div>