<div class="sidebar">
    @if (_selectedTable == null)
    {
        <div class="d-flex h-100 align-items-center justify-content-center">
            No table selected
        </div>
    }
    else
    {

    }
</div>