.fully-transparent {
    background-color: transparent;
    border: 0;
}

.dropdown > a {
    color: black;
}

.node > .card.selected {
    border: 1px #4582ec solid;
}

.list-group {
    border-bottom: unset;
}

::deep .port {
    width: 20px;
    height: 46px;
    position: absolute;
}

    ::deep .port:hover {
        background: #eee;
        cursor: pointer;
    }

.node > .card.selected ::deep .port {
    border-right-color: #4582ec; 
    border-left-color: #4582ec; 
}

    ::deep .port.right {
        top: 45px;
        right: -1px;
        border-right: 1px solid rgba(0,0,0,0.125);
    }

    ::deep .port.left {
        top: 0;
        left: -1px;
        border-left: 1px solid rgba(0,0,0,0.125);
    }
