<div class="card @(Node.Selected ? "selected" : "")" style="width: 320px;">
    <div class="card-header">
        <h6 class="mb-0">@Node.Name</h6>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var column in Node.Columns)
        {
            <TableColumn Data="column"></TableColumn>
        }
    </ul>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>