.fully-transparent {
    background-color: transparent;
    border: 0;
}

.dropdown > a {
    color: black;
}

.node > .card.selected {
    border: 1px #4582ec solid;
}

.list-group {
    border-bottom: unset;
}

::deep .port {
    width: 20px;
    height: 46px;
    position: absolute;
}

::deep .port:hover {
    background: #eee;
    cursor: pointer;
}

::deep .port.right {
    top: 45px;
    right: 0;
}

::deep .port.left {
    top: 0;
    left: 0;
}
